#chat-container {
    width: 100%;
    display: relative;
}

#chat-messages {
    min-width: 400px;
}

#textfield{
width: 100%;
position: fixed;
bottom: 0;
margin: 0px;
padding-top: 0.5em;
background: #152338;
}

#chat-input, #chat-send {
    display: inline-block;
}

.chat-full-width {
    width: 80%;
}

#chat-input {
    width: 180%;
    resize: none;
    background-color: #0000;
}

#chat-send {

}